body{
    background-color: #f3f3f3;
}
#img1{
  height:400px;
 width:1200px;
  }

.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}
.item img {
    height: 400px !important;
    width: 100% !important;
}
.carousel{
    margin-top: 20px;
}


.mod{
  width:800px;
  height:230px;
 
}
.logo{
 height:100px;
 width:150px;
}
.logo img{
 height:100px;
 width:150px;
}

 .navbarr {
background-image: linear-gradient(to bottom, #000 0px, #F8F8F8 100%);
background-repeat: repeat-x;
border-radius: 4px;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
 .navbarr {
background-color:#BD2B2B;
border-color: red;
}
.navbarr a:hover{
    color: white;
}
/* search_panel */
.search_panel input{
    width:60%;
    height:45px;
    border: 2px solid #ccc;
}

.search_panel button , .search_panel select{
    width:140px;
    height:45px;
    background:#f8f8f8;
    color: #0BC7B4;
    border-radius:0
}
.search_panel button:hover{
background:#0BC7B4;
color: #fff;
}

/* search_panel */
/* news */
.read_more{
	text-align:center;
	}
.read_more a{
float: right;
      
	background:#0BC7B4;
	color:#fff;
	font-size:12px;
	font-family: 'Questrial', sans-serif;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow:0px 2px 0px #029381;
	}
.read_more a:hover{
	text-decoration:none;
	color:#0BC7B4;
	background:#fff;
	}
.header_4
{
    color:#192C3B;
}
.prag_news
{
    color:gray;
}
.news_head{

	display: block;
	width: 100%;
	text-align:left;
	}
.news_head h2{
	color:#5E6C76;
	font-size:32px;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
/* news */
/*-- pricing --*/
.pricing{

	display:block;
	min-height: 200px;
/*	padding:6em 0;*/
	}
.price{
	background: url(../images/line.png) no-repeat 97px 17px;
	display: block;
	width: 100%;
	text-align:center;
	}
.price h2{
	color:#5E6C76;
	font-size:28px;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
.price p{
	color:#5E6C76;
	font-size:20px;
	margin: 1em 0 5em;
	font-family: 'Questrial', sans-serif;
	}
.price p span{
	display:block;
	}


.business{
	background:#192C3B;
	padding:2em 0em;
	}
.business h2{
	font-size:26px;
	color:#D1D5D8;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
.business p{
	color:#D1D5D8;
	font-size:16px;
	margin:3px 0 0;
	font-family: 'Questrial', sans-serif;
	}
.value{
	padding:1em 0;
	background:#0BC7B4;
	}
.value p{
	color:#fff;
	font-size:19px;
	margin:0;
	}

/*-- //pricing --*/

.textbox{
 height:50px;
}

#footer{

background-repeat:no-repeat;
 height:200px;

 position:absolute;
 width:1435px;
 left:0;
 bottom:0;
	
}

#login{
width:260px;
box-sizing: border-box;
text-align: center;
padding-left: 0px;
padding-right: 0px;

   }

#footer p {
        position:absolute;
	color: #4e5151;
	text-transform: capitalize;
	top:200px;
	left:580px;

}


.footer{
	background:#162432;
	padding:2em 0;
	}
/*.footer-logo{
	float:left;
	width: 50%;
	}
.footer-logo-left{
	float:left;
	width:35px;
	}
.footer-logo-left span{
	width:34px;
	height:32px;
	display: block;
	}
.footer-logo-right{
	float:left;
	width:60%;
	padding-left: 1em;
	padding-top: 0.5em;
	}
.footer-logo-right p{
	font-size:15px;
	color:#8C969D;
	margin:0;
	}
.footer-logo-right p a{
	color:#0BC7B4;
	font-size:15px;
	}
.footer-logo-right p a:hover{
	color:#8C969D;
	text-decoration:none;
	}*/
.footer-icons{
	float:right;
	}
.footer-icons ul{
	padding:0;
	margin:0;
	}
.footer-icons ul li{
	display:inline-block;
	}
.footer-icons ul li a.fb{
	background:url(../images/sp-1.png) no-repeat 0px 0px;
	display:block;
	width:25px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb:hover{
	background:url(../images/sp-1.png) no-repeat 0px -29px;
	display:block;
	}
.footer-icons ul li a.fb1{
	background:url(../images/sp-1.png) no-repeat -24px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb1:hover{
	background:url(../images/sp-1.png) no-repeat -24px -30px;
	display:block;
	}
.footer-icons ul li a.fb2{
	background:url(../images/sp-1.png) no-repeat -55px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb2:hover{
	background:url(../images/sp-1.png) no-repeat -55px -31px;
	display:block;
	}
.footer-icons ul li a.fb3{
	background:url(../images/sp-1.png) no-repeat -90px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb3:hover{
	background:url(../images/sp-1.png) no-repeat -90px -31px;
	display:block;
	}
.footer-icons ul li a.fb4{
	background:url(../images/sp-1.png) no-repeat -122px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb4:hover{
	background:url(../images/sp-1.png) no-repeat -122px -32px;
	display:block;
	}
.footer-icons ul li a.fb5{
	background:url(../images/sp-1.png) no-repeat -149px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb5:hover{
	background:url(../images/sp-1.png) no-repeat -149px -30px;
	display:block;
	}
.footer-icons ul li a.fb6{
	background:url(../images/sp-1.png) no-repeat -174px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb6:hover{
	background:url(../images/sp-1.png) no-repeat -174px -30px;
	display:block;
	}

#img1{
  height:400px;
 width:1200px;
  }

.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}
.item img {
    height: 400px !important;
    width: 100% !important;
}
.carousel{
    margin-top: 20px;
}


.mod{
  width:800px;
  height:230px;
 
}

 .navbarr {
background-image: linear-gradient(to top, #000 0px, #BC2B2B 100%);
background-repeat: repeat-x;
border-radius: 4px;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
 .navbarr {
background-color:white;
border-color:#2550B7;
}
/* search_panel */
.search_panel input{
    width:60%;
    height:45px;
    border: 2px solid #ccc;
}

.search_panel button , .search_panel select{
    width:140px;
    height:45px;
    background:#EBE9F0 none ;
    color: #0BC7B4;
    border-radius:5px;
}
.search_panel button:hover{
background:#0BC7B4;
color: #fff;
}

/* search_panel */
/* news */
.read_more{
	text-align:center;
	}
.read_more a{
float: right;

	background:#0BC7B4;
	color:#fff;
	font-size:12px;
	font-family: 'Questrial', sans-serif;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow:0px 2px 0px #029381;
	}
.read_more a:hover{
	text-decoration:none;
	color:#0BC7B4;
	background:#fff;
	}
.header_4
{
    color:#192C3B;
}
.prag_news
{
    color:gray;
}
.news_head{

	display: block;
	width: 100%;
	text-align:left;
	}
.news_head h2{
	color:#5E6C76;
	font-size:32px;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
/* news */
/*-- pricing --*/
.pricing{

	display:block;
	min-height: 100px;
	padding-top: 70px;
	}
.price{
	background: url(../images/line.png) no-repeat 97px 17px;
	display: block;
	width: 100%;
	text-align:center;
	}
.price h2{
	color:#5E6C76;
	font-size:32px;
	margin-left:-30px;
	font-family: 'Questrial', sans-serif;
	}
.price p{
	color:#5E6C76;
	font-size:20px;
	margin: 1em 0 5em;
	font-family: 'Questrial', sans-serif;
	}
.price p span{
	display:block;
	}
.basic{
        margin-left: 20px;
        margin-bottom: 80px; 
	float:left;
	width:29%;
	text-align:center;
	}
        
@media screen and (max-width: 400px) {
    .basic {
        float:left;
	width:100%;
	text-align:center;
        padding-top: 50px;
    }
    
}
       
@media screen and (max-width: 400px) {
    .basic-mid {
        float:left;
	width:100%;
	text-align:center;
        padding-bottom:50px; 
        margin-left:-40px;
    }
    
}
@media screen and (max-width: 400px) {
    h2{
	color:#5E6C76;
	font-size:10px;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
}
.basic:hover{
	transform:scale(1.1);
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.basic:hover div.business{
	background: url(../images/img.png) no-repeat 15em -1px #192C3B;
	display:block;
	}
.business{
	background:#192C3B;
	padding:2em 0em;
	}
.business h2{
	font-size:26px;
	color:#D1D5D8;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
.business p{
	color:#D1D5D8;
	font-size:16px;
	margin:3px 0 0;
	font-family: 'Questrial', sans-serif;
	}
.value{
	padding:1em 0;
	background:#0BC7B4;
	}
.value p{
	color:#fff;
	font-size:19px;
	margin:0;
	}
.basic ul{
	padding:2em 0 1em;
	margin:0;
	background: url(../images/circle.png) no-repeat 16.4em 10em #F4F4F4;
	display:block;
	height:210px;
	box-shadow: 0px 2px 0px #D7D7D7;
	}
.basic ul li{
	font-size:18px;
	color:#5B6873;
	border-bottom: 1px dotted #5B6873;
	padding-bottom:.5em;
	list-style-type:none;
	margin: 0.5em 5em;
	}
.basic ul li span{
	color:#0BC7B4;
	font-weight: 500;
	}
.basic ul li.gd{
	border-bottom:none;
	}
.buy-me{
	text-align:center;
	}
.buy-me a{
	padding:15px 40px;
	background:#0BC7B4;
	color:#fff;
	font-size:12px;
	font-family: 'Questrial', sans-serif;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow:0px 2px 0px #029381;
	}
.buy-me a:hover{
	text-decoration:none;
	color:#0BC7B4;
	background:#fff;
	}
.basic-mid{
	margin:0 5em;
	}
.contact1{
	background: url(../images/cross-3.png) #192C3B;
	background-repeat: repeat-x;
	display:block;
	width:100%;
	min-height:200px;
	padding: 6em 0;
	}
.contact1 p{
	color:#BABFC4;
	font-size:20px;
	margin:0;
	background:url(../images/line-png) no-repeat 14em 2.5em;
	display:block;
	width:100%;
	height:85px;
	text-align: center;
	}
p.paragraph{
	color:#5E6C76;
	font-size:20px;
	margin:0 0 5em;
	font-family: 'Questrial', sans-serif;
	text-align:center;
	}
p.paragraph span{
	display:block;
	}
.about1{
	background:url(../images/cross-4.png) #F4F4F4;
	background-repeat:repeat-x;
	display:block;
	width:100%;
	min-height:130px;
	padding: 6em 0;
}
.business1{
	background:#0BC7B4;
	padding:2em 0em;
	}
.business1 h2{
	font-size:26px;
	color:#192C3B;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
.business1 p{
	color:#CEF4F0;
	font-size:16px;
	margin:3px 0 0;
	font-family: 'Questrial', sans-serif;
	}
.value1{
	padding:1em 0;
	background:#fff;
	}
.value1 p{
	color:#192C3B;
	font-size:19px;
	margin:0;
	}
ul.list{
	padding:2em 0 1em;
	margin:0;
	background: url(../images/circle-1.png) no-repeat 15.5em 12em #192C3B;
	display: block;
	height: 275px;
	box-shadow: 0px 2px 0px #D7D7D7;
	}
.basic ul.list li{
	font-size:18px;
	border-bottom: 1px dotted #BABFC4;
	padding-bottom:.5em;
	list-style-type:none;
	margin: 0.5em 5em;
	color:#BABFC4;
	}
.basic ul.list li.gd{
	border-bottom:none;
	margin-bottom: 1em;
	}
.reach-text1{
	text-align:center;
	background:#EAEBEC;
	padding:3em 0;
	width: 65%;
	margin: 5em auto 0;
	border: 1px solid #DDDFE0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	}
.reach-text1 p{
	color:#5E6C76;
	font-size:20px;
	margin:0;
	font-family: 'Questrial', sans-serif;
	}
.reach-text1 p a{
	padding:15px 40px;
	background:#0BC7B4;
	color:#fff;
	font-size:16px;
	font-family: 'Questrial', sans-serif;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	margin: 0 0 0 3em;
	}
.reach-text1 p a:hover{
	text-decoration:none;
	color:#0BC7B4;
	background:#fff;
	}
/*-- //pricing --*/

.textbox{
 height:50px;
 
}
#footer{

background-repeat:no-repeat;
 height:200px;


 width:1435px;

}

.login{
width:300px;
box-sizing: border-box;
text-align: center;
padding-left: 0px;
padding-right: 0px;

   }

#footer p {

	color: #4e5151;
	text-transform: capitalize;
	top:200px;
	left:580px;

}


.footer{

    
     left:0;
     background:#162432;
	padding:2em 0;
        bottom: 0px;
	}
.footer-logo{
	float:left;
	width: 50%;
	}
.footer-logo-left{
	float:left;
	width:35px;
	}
.footer-logo-left span{
	width:34px;
	height:32px;
	display: block;
	}
.footer-logo-right{
	float:left;
	width:60%;
	padding-left: 1em;
	padding-top: 0.5em;
	}
.footer-logo-right p{
	font-size:15px;
	color:#8C969D;
	margin:0;
	}
.footer-logo-right p a{
	color:#0BC7B4;
	font-size:15px;
	}
.footer-logo-right p a:hover{
	color:#8C969D;
	text-decoration:none;
	}
.footer-icons{
	float:right;
	}
.footer-icons ul{
	padding:0;
	margin:0;
	}
.footer-icons ul li{
	display:inline-block;
	}
.footer-icons ul li a.fb{
	background:url(../images/sp-1.png) no-repeat 0px 0px;
	display:block;
	width:25px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb:hover{
	background:url(../images/sp-1.png) no-repeat 0px -29px;
	display:block;
	}
.footer-icons ul li a.fb1{
	background:url(../images/sp-1.png) no-repeat -24px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb1:hover{
	background:url(../images/sp-1.png) no-repeat -24px -30px;
	display:block;
	}
.footer-icons ul li a.fb2{
	background:url(../images/sp-1.png) no-repeat -55px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb2:hover{
	background:url(../images/sp-1.png) no-repeat -55px -31px;
	display:block;
	}
.footer-icons ul li a.fb3{
	background:url(../images/sp-1.png) no-repeat -90px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb3:hover{
	background:url(../images/sp-1.png) no-repeat -90px -31px;
	display:block;
	}
.footer-icons ul li a.fb4{
	background:url(../images/sp-1.png) no-repeat -122px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb4:hover{
	background:url(../images/sp-1.png) no-repeat -122px -32px;
	display:block;
	}
.footer-icons ul li a.fb5{
	background:url(../images/sp-1.png) no-repeat -149px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb5:hover{
	background:url(../images/sp-1.png) no-repeat -149px -30px;
	display:block;
	}
.footer-icons ul li a.fb6{
	background:url(../images/sp-1.png) no-repeat -174px 0px;
	display:block;
	width:30px;
	height:25px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.footer-icons ul li a.fb6:hover{
	background:url(../images/sp-1.png) no-repeat -174px -30px;
	display:block;
	}


	.contact1{
	background: url(../images/cross-3.png) #192C3B;
	background-repeat: repeat-x;
	display:block;
	width:100%;
	min-height:200px;
	padding: 6em 0;
	}
.contact1 p{
	color:#BABFC4;
	font-size:20px;
	margin:0;
	background:url(../images/line-4.png) no-repeat 14em 2.5em;
	display:block;
	width:100%;
	height:85px;
	text-align: center;
	}

.contact-us1{
	text-align:center;
	}
.contact-us1 h3{
	background: url(../images/line-6.png) no-repeat 3.5em 0.3em;
	width:100%;
	display:block;
	font-size:45px;
	font-family: 'Questrial', sans-serif;
	margin:0;
	color:#8C969D;
	}
.contact-us1 p{
	margin:1em 0 4em;
	color:#8C969D;
	font-size:20px;
	font-family: 'Questrial', sans-serif;
	}
.contact-us1 p span{
	display:block;
	}
.contact-us1-bottom form{
	float:left;
	width:50%;
	}
.contact-us1-bottom form input[type="text"],input[type="text"],.contact-us1-bottom form textarea, input[type="email"],input[type="password"]{
	outline:2px;
	padding:10px 0 10px 10px;
        min-width: 46%;
	color:#8C969D;
	font-size:15px;
         border: 5px;
         background-color:#ccc;
         color:#0BC7B4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	
	}
        input[type="textarea"]{
            width:100%;
            height: 20%;
        
            border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
	
        }      
.contact-us1-bottom form textarea {
	height:150px;
	resize:none;
	width:100%;
	margin: 2em 0;
     
	color:#8C969D;
	font-size:15px;
         border: 5px;
         background-color:#ccc;
         color:#0BC7B4;
	}
.contact-us1-bottom form input[type="submit"], input[type="submit"] {
	background:#0BC7B4;
	color:#fff;
	outline:none;
	padding:10px 30px;
	border:none;
	font-family: 'Questrial', sans-serif;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	}
.contact-us1-bottom form input[type="text"]:nth-child(2) {
	margin-left:2em;
	}
.contact-us1-bottom form input[type="submit"]:hover {
	background:#fff;
	color:#0BC7B4;
	text-decoration:none;
	}

.contact-us1-bottom form input[type="text"]:nth-child(2) {
	margin-left:2em;
	}
.contact-us1-bottom form input[type="submit"]:hover {
	background:#fff;
	color:#0BC7B4;
	text-decoration:none;
	}
.home-radio-clock{
	float:left;
	width:20%;
	margin-left: 5em;
	}
.home-radio-clock-right{
	float:left;
	width:20%;
	}
.home-radio-clock ul{
	padding:0;
	margin:0;
	}
.home-radio-clock ul li.home{
	background:url(../images/home.png) no-repeat 0px 0px;
	width:100%;
	height:40px;
	display:block;
	}
.home-radio-clock ul li.radio{
	background:url(../images/15.png) no-repeat 0px 0px;
	width:100%;
	height:40px;
	display:block;
	margin:1em 0;
	}
.home-radio-clock ul li.clock{
	background:url(../images/16.png) no-repeat 0px 0px;
	width:100%;
	height:40px;
	display:block;
	}
.home-radio-clock ul li.radio span{
	padding-left:3em;
	}
.home-radio-clock ul li span{
	padding-left: 4em;
	color: #0BC7B4;
	font-size: 15px;
	font-family: 'Questrial', sans-serif;
	}
.home-radio-clock-right ul{
	padding:0;
	margin:0;
	}
.home-radio-clock-right ul li{
	font-family: 'Questrial', sans-serif;
	color:#8C969D;
	font-size:15px;
	list-style-type:none;
	}
.home-radio-clock-right ul li span{
	display:block;
	}
.home-radio-clock-right ul li.lst{
	margin:1em 0 2em;
	}
.map{
	background: url(..resources/images/map.png) no-repeat 42em -7em;
	display: block;
	width: 100%;
	min-height: 340px;
	}


 div.menu4
{
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    font-size:0;
    height: 25px;  
    *position:relative;*top:1px;/*Hacks for IE6 & IE7 */  
}

div.menu4 a
{
    display: inline-block;
    margin-right:6px; /* It specifies the distance between each tab */
    background:#FFF url(../images/bg.gif) repeat-x 0 0;
    padding-left:4px;
    vertical-align:top;/*ChangeSet#1*/
    text-decoration:none;
}

div.menu4 a span
{
    display: inline-block;
    background:#FFF url(../images/bg.gif) repeat-x 100% 0;
    padding: 0 20px;
    text-decoration:none;
    font: normal 12px Arial;
    line-height: 25px;
    color:#7087A9;
    vertical-align:top;
    min-width: 110px;
}

div.menu4 a:hover, div.menu4 a.current
{
    background:#FFF url(../images/bg.gif) repeat-x 0 -25px;
    line-height: 26px;
}

div.menu4 a:hover span, div.menu4 a.current span
{
    background:#FFF url(../images/bg.gif) repeat-x 100% -25px;
    line-height: 26px;
    color:red;
}

div.menu4sub
{
    height:8px;
    border:1px solid #C2D5EF;
    background:#eee url(../images/bg.gif) repeat-x 0 -50px;
}

.prodesign {
  background: #F1F3FA;
}
        
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width:60%;
  height: 30%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 400px;
}
#registerimg{
    width: 400px;
}

#loginimg{
    width:350px;
}
#loggin{
    width:135px;
}
#click{
    width:135px;
}

.navbar {
	background-color: #e4e6e5;
	background-color: rgba( 228, 230, 229, .85 );
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
}

.navbar.inv {
	background-color: rgba( 0, 0, 0, .5 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
	color: #5f5f5f;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	transition: all .5 linear;
}

.navbar.inv a {
	color: #e4e6e5;
}


.navbar-responsive-collapse {
	margin: 0 auto;
	width: 80%;
}

.nav li {
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 18px;
}

.active-menu {
	background-color: #4e4e4e;
	content: '.';
	display: block;
	height: 5px;
	left: 30px;
	position: relative;
	top: 0;
	transition: all 1 liner;
	width: 1%;
	z-index: 9;
}
.logoo{
   height: 90px;
width: 140px;
margin-top: -5px;
   
}

.inv .active-menu {
	background-color: #e4e6e5;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
	background-color: #4e4e4e !important;
}

#special-active-menu-2 {
	background-color: #1abc9c !important;
}

#special-active-menu-3 {
	background-color: #e74c3c !important;
}

#special-active-menu-4 {
	background-color: #34495e !important;
}

#special-active-menu-5 {
	background-color: #e67e22 !important;
}

/*.collapse {
    display: block;
    visibility: visible;
    margin-left: 350px;
}
.collapse{
    display:none;
    visibility:hidden
}
.collapse.in{
    display:block;
    visibility:visible
}*/
.asd{
    display: block;
    list-style: none;
}
.asd li 
{
    
    float: left;
    padding: 20px;
    font-size: 20px;
    
}
.asd li a{
    
    color: #5F5F5F;
    font-family: "Titillium Web",sans-serif;
    font-weight: 600;
    position: relative;
   left: 200px
}
.asd li a:hover{
    text-decoration: none;
   color:#2E958B;
}
